#specification-select-input {
    width: 100%;
    ion-button {
        color: #646464;
        text-transform: none;
        border: thin solid #F0F0F0;
        height: 50px;
        ion-label {
            margin-right: auto;
        }
    }
}